@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;
  overflow-x: hidden;
 
}

.pad {
  padding-left: 7%;
  padding-right: 7%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  color: hsl(225, 3%, 52%);
}

h1, h2, h3 {
  color: hsl(228, 39%, 23%);
}

.mob {
  display: none;
}

/* NAV */

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav .logo {
  height: 1.6rem;
  margin: auto 0;
  color: hsl(228, 39%, 23%);
}


nav .nav {
  display: flex;
  justify-content: space-between;
  width: 73%;
  font-size: 0.8rem;
  font-weight: 500;
}

.nav ul {
  display: flex;
  margin: 0;
}

.nav .rr {
  margin-right: 1.5rem;
}

.nav li {
  height: 1.2rem;
  margin: auto 0;
}

.nav a {
  color: hsl(228, 39%, 23%);
  display: block;
}

.nav a:focus, .nav a:hover {
  color: hsl(0, 0%, 63%);
}

.nav button, .start {
  padding: 0.9rem 2.3rem;
  border: none;
  border-radius: 20px;
  background-color: hsl(12, 88%, 59%);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

.nav button:focus, .nav button:hover, .start:focus, .start:hover, .update button:focus, .update button:hover {
  background-color: hsl(12, 100%, 75%);
  outline: none;
}
/* INTRO */

.intro {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
}

.intro .bg {
  position: absolute;
  z-index: -1;
  right: -10rem;
  top: -16rem;
  transform: rotate(6deg);
}

.intro .left {
  width: 50%;
}

.intro h1 {
  margin: 7rem 0 0 0;
  font-size: 2.7rem;
  max-width: 24rem;
  line-height: 3rem;
}

.intro p {
  margin-top: 1.6rem;
  max-width: 21rem;
}

.intro button {
  margin: 1rem 0;
}

.intro .right {
  
  width: 50%;
}

.right img {
  width: 100%;
  height: 33rem;
  
}

/* BODY */

.body {
  position: relative;
  padding-top: 1rem;
}

.body .bg {
  position: absolute;
  bottom: 20rem;
  left: -25rem;
  z-index: -1;
  transform: rotate(-5deg);
  width: 40rem;
}

.body .container {
  display: flex;
}

.container .left {
  width: 50%;
}


.container .left h2 {
  font-size: 2rem;
  max-width: 23rem;
}

.container .left p {
  max-width: 21rem;
}



.container .right {
  width: 50%;
}

.card {

  display: flex;
  margin-bottom: 1rem;
}

.card .no {
  margin-right: 1.5rem;
}

.no p {
  padding:  0.4rem 0 0.5rem 0;
  width: 3.7rem;
  text-align: center;
  background-color: hsl(12, 88%, 59%);
  color: white;
  border-radius: 20px;
  
}

/* .card .info {
  border: 1px dotted;
} */

.info h3 {
  font-size: 1.1rem;
}

.info p {
  font-size: 0.8rem;
  max-width: 22rem;
}

/* SCROLL */

.scroll-container {
  margin-top: 8rem;
  text-align: center;
}

.scroll-container h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.scroll {
  display: flex;
  overflow-x: scroll;
  padding-top: 2rem;
  padding-bottom: 1rem;
}


.review-card {
  position: relative;
  padding: 1rem 1rem 0 1rem;
  min-width: 40%;
  margin-right: 1.5rem;
  height: 14rem;
  background-color: hsl(0, 0%, 91%);
}

.review-card img {
  position: absolute;
  width: 3.4rem;
  top: -2rem;
  left: 45%;
}

.scroll-container button {
  margin-top: 2rem;
}


/* SIMPLIFY */

.simplify {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  height: 10rem;
  background: url('../images/bg-simplify-section-desktop.svg') hsl(12, 88%, 59%) no-repeat;
  background-position: 14rem -11rem;
  background-size: 100%;
  
}

.simplify h2 {
  font-size: 2rem;
  max-width: 23rem;
  margin: auto 0;
  line-height: 2rem;
  color: white;
  font-weight: 500;
}

.simplify button {
  height: 2.7rem;
  margin: auto 0;
  background-color: white;
  color: hsl(12, 88%, 59%);
}

.simplify button:focus, .simplify button:hover {
  background-color: white;
  color: hsl(12, 100%, 75%);
}


/* FOOTER */

footer {
  background-color: hsl(233, 12%, 13%);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  color: white;
  justify-content: space-between;
}

/* .social {
  border: 1px dotted;
} */

.social .logo {
  margin-bottom: 6rem;
}

.social ul {
  display: flex;
  justify-content: space-between;
}

.social a {
  color: white;
}

.social a:focus, .social a:hover {
  color: hsl(12, 88%, 59%);
}
/* .links {
  border: 1px dotted;
} */

.links ul {
  margin: 0;
}

.links li {
  margin-bottom: 1rem;
}

.links a {
  color: hsl(0, 0%, 90%);
  font-size: 0.8rem;
}

.links a:focus, .links a:hover {
  color: hsl(12, 88%, 59%);
}

/* .update {
  border: 1px dotted;
} */


.update form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  position: relative;
}

.update input {
  width: 77%;
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
  font-size: 0.8rem;
}

.update input:focus {
  outline: none;
}

.update input::placeholder {
  font-size: 0.7rem;
}


.update small {
  position: absolute;
  bottom: 0;
  color: rgb(255, 8, 8);
  left: 0.9rem;
  visibility: hidden;
}

.error small {
  visibility: visible;
}

.error input {
  border: 2px solid red;
}

.update button {
  width: 20%;
  border-radius: 20px;
  border: none;
  background-color: hsl(12, 88%, 59%);
  color: white;
  
}

.update p {
  font-size: 0.8rem;
  text-align: end;
  margin-left: 3rem;
}























@media (max-width: 800px) {
  
  .mob{
    display: inline-block;
  }

  .desk, .nav.desk {
    display: none;
  }
  
  .pad {
    padding-left: 4%;
    padding-right: 4%;
  }
  
  
  /* NAV */

  nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }



  nav .nav {
    background-color: rgb(255, 255, 255);
    position: absolute;
    justify-content: center;
    width: 92%;
    bottom: -19.2rem;
    z-index: 2;
    padding-top: 2rem;
    border-radius: 10px;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
   
  }

  .nav .rr {
    margin-right: 0;
  }

  .nav li {
    height: inherit;
    margin-bottom: 2rem;
  }

  .nav a {
    font-size: 1rem;
    font-weight: bold;
  }

  .wrapper.active {
    position: absolute;
    background: linear-gradient(180deg, rgba(246, 246, 246, 0.7) 0%, rgba(82,81,81,0.9) 30%);
    z-index: 1;
    top: 5rem;
    height: 100%;
    width: 100%;
  }

  .nav-button {
    padding: 0.6rem 0 0.5rem 0.8rem;
    border: none;
    background-color: inherit;
  }

  .nav-button:focus {
    outline: none;
  }

  .nav-button img {
    width: 1.8rem;
    height: 1.7rem;
  }

  /* INTRO */

 

  .intro {
    padding-top: 2rem;
    padding-bottom: 1rem;
    flex-direction: column;
  }

  .intro .bg {
    z-index: -1;
    right: -7rem;
    top: -12rem;
    width: 35rem;
  }

  

  .intro .left {
    width: 100%;
    text-align: center;
  }

  .intro h1 {
    margin: 0 auto;
    font-size: 2rem;
    max-width: 20rem;
    line-height: 2.5rem;
  }

  .intro p {
    max-width: 20rem;
    margin: 0.6rem auto;
  }

  .intro button {
    margin: 1rem 0;
  }

  .intro .right {
    width: 100%;
  }

  .right img {
    width: 100%;
    height: 24rem;
  }

  /* BODY */

  .body {
    padding-top: 4rem;
  }

  

  .body .bg1 {
    position: absolute;
    top: -20rem;
    right: -13.6rem;
    transform: rotate(0deg);
    width: 26rem;
    z-index: -1;
  }

  .body .container {
    flex-direction: column;
    padding: 0 0 0 4%;
  }

  .container .left {
    text-align: center;
    width: 100%;
  }


  .container .left h2 {
    position: relative;
    font-size: 1.5rem;
    max-width: 12rem;
    margin: 0 auto;

  }

  .dot {
    position: absolute;
    top: -0.4rem;
    left: -2rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: hsl(227, 76%, 62%);
    border-radius: 50%;
    margin-left: 39%;
    margin-bottom: 0.3rem;
  }

  .container .left p {

    margin: 1rem auto;
  }

  .container .right {
    width: 100%;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .info .no {
    display: flex;
    width: 100%;
    background-color: hsl(12, 81%, 94%);
    border-radius: 20px 0 0 20px;
  }

  .no p {
    width: 15%;
    margin: 0 4% 0 0;
  }

  .info h3 {
    margin: auto 0;
    height: 1.4rem;
    font-size: 0.85rem;
  }

  .info p {
    max-width: 94%;
  }

  /* SCROLL */

  .scroll-container {
    margin-top: 2rem;
  }

  .scroll-container h2 {
    font-size: 1.5rem;
  }

  .scroll {
    width: 92%;
    margin: 0 auto;
    display: flex;
    overflow-x: scroll;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }


  .review-card {
    position: relative;
    padding: 1rem 1rem 0 1rem;
    min-width: 100%;
    margin-right: 1.5rem;
    height: 14rem;
  }

  .review-card img {
    position: absolute;
    width: 3.4rem;
    top: -2rem;
    left: 45%;
  }

  .scroll-container button {
    position: relative;
    margin-top: 2rem;
  }

  .track {
    width: 2.5rem;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  .dot-track {
    border: 1px solid hsl(12, 88%, 59%);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }

  .fill {
    background-color: hsl(12, 88%, 59%);
  }


  /* SIMPLIFY */

  .simplify {
    margin-top: 3rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    background: url('../images/bg-simplify-section-mobile.svg') hsl(12, 88%, 59%) no-repeat;
    background-position: 0rem 1rem;
    
  }

  .simplify h2 {
    font-size: 2rem;
    margin: 0 auto 3rem auto;
    line-height: 2.5rem;
  }

  .simplify button {
    margin: 0 auto;
  }

  /* FOOTER */

  footer {
    flex-direction: column;
    justify-content:center;
  }

  .pp {
    text-align: center;
    font-size: 0.8rem;
  }

  .social .logo {
    margin: 3rem auto 1rem auto;
    width: 9.3rem;
  }

  .case {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }

  .social ul {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
  }

  .scroll::-webkit-scrollbar {
    width: 12px;
    display: none;
}

/* .scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    display: none;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */

}